@charset "UTF-8";
/**
 *
 * @authors Your Name (you@example.org)
 * @date    2017-07-28 14:53:33
 * @version $Id$
 */

/*---rest---*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {margin:0;padding:0;}
input::-ms-clear {display: none;}
div,li{white-space: normal;word-wrap: break-word;word-break: break-all;}
a{ text-decoration: none; outline:none; -webkit-tap-highlight-color:rgba(0,0,0,0);}
input,button,textarea,a{ -webkit-appearance: none;font-family:"Microsoft YaHei", Tahoma, SimSun; -webkit-tap-highlight-color: rgba(0,0,0,0); outline:none;}
html{ height:100%; -webkit-text-size-adjust:100%;-ms-text-size-adjust: 100%; -webkit-text-size-adjust:none; font-size:100px; background-color:#f2f2f2;}
body{ font-family:"Microsoft YaHei", Tahoma, SimSun; line-height:1; color:#666; font-size:14px; font-size:0.14rem;}
a{color:#666;}
img{max-width:100%;border:none;}
li{list-style-type: none;}

body{background-color: #fff;}
.s-linear{background-color: #847dfd; background: -webkit-linear-gradient(left top, #9f7afe , #5a8dfd) !important; background: -o-linear-gradient(bottom right, #9f7afe, #5a8dfd) !important; background: -moz-linear-gradient(bottom right, #9f7afe, #5a8dfd) !important; background: linear-gradient(to bottom right, #9f7afe , #5a8dfd) !important;}
.s-basic{background-color: #7095fb;}
.s-basic_l1{background-color: #91adff;}
.s-basic_h1{background-color: #6081de;}
.s-basic_h2{background-color: #4c6ece;}


/*布局*/
.g-pt40{padding-top: 0.4rem;}
.g-mr45{margin-right: 0.45rem;}
.g-dnav{padding-top: 0.78rem;} /*顶开导航条高度*/

/*组件*/
.u-btn{display:inline-block; overflow:hidden; vertical-align:middle;text-align:center; color:#fff; position:relative; cursor:pointer; -webkit-user-select:none;-moz-user-select:none; -webkit-transition:background-color 0.2s linear;-ms-transition:background-color 0.2s linear;-moz-transition:background-color 0.2s linear;-o-transition:background-color 0.2s linear;transition:background-color 0.2s linear;text-decoration:none;font-weight:360;outline:none;padding:0 1em;height:30px;line-height:30px;font-size:14px;background-color:#6081de;border:1px solid #6081de;border-radius:3px;color:#fff}
.u-btn:hover{background-color:#91adff;border-color:#91adff}
.u-btn:active{background-color:#91adff;border-color:#91adff}
.u-btn.s-block{display:block}
.u-btn.s-link{color:#2185D0;background-color:transparent;border-color:transparent}
.u-btn.s-link:hover{text-decoration:underline;color:#1678c2}
.u-btn.s-red{background-color:#db2828;border-color:#db2828}
.u-btn.s-red:hover{background-color:#d01919;border-color:#d01919}
.u-btn.s-red:active{background-color:#b21e1e;border-color:#b21e1e}
.u-btn.s-green{background-color:#21ba45;border-color:#21ba45}
.u-btn.s-green:hover{background-color:#16ab39;border-color:#16ab39}
.u-btn.s-green:active{background-color:#198f35;border-color:#198f35}
.u-btn.s-grey{background-color:#767676;border-color:#767676}
.u-btn.s-grey:hover{background-color:#838383;border-color:#838383}
.u-btn.s-grey:active{background-color:#909090;border-color:#909090}
.u-btn.s-grey2{background-color:#e0e1e2;border-color:#e0e1e2;color:#343535}
.u-btn.s-grey2:hover{background-color:#cacbcd;border-color:#cacbcd}
.u-btn.s-grey2:active{background-color:#babbbc;border-color:#babbbc}
.u-btn.z-lock{background-color:#b0b0b0;cursor:default;border-color:#b0b0b0;color:#fff}
.u-btn.z-lock:active{background-color:#b0b0b0;border-color:#b0b0b0}
.u-btn.z-lock:hover{background-color:#b0b0b0;border-color:#b0b0b0}
.u-btn.s-hollow{background-color:transparent;border-color:#dededf;color:#676767}
.u-btn.s-hollow:active{background-color:transparent;border-color:#c3c3c3}
.u-btn.s-hollow:hover{background-color:transparent;border-color:#b1b3b3}

.u-btn > .p-loading{display:none}
.u-btn.z-loading > .p-loading{display:inline-block;display:none \9;position:relative;width:1.3em;height:1.3em;margin-left:0.4em; vertical-align: middle; top: -0.08em;}
.u-btn.z-loading > .p-loading .before{content:" ";position:absolute;left:0;top:0;width:1em;height:1em;border:0.14em solid rgba(255,255,255,0.5); border-color:inherit ;-webkit-border-radius:100%;border-radius:100%; opacity: 0.3;}
.u-btn.z-loading > .p-loading .after{content:" ";position:absolute;left:0;top:0;width:1em;height:1em;border:0.14em solid transparent;border-radius:100%;-webkit-border-radius:100%;border-bottom-color:inherit;-webkit-animation:FU_rotation 0.75s linear infinite;-moz-animation:FU_rotation 0.75s linear infinite;-o-animation:FU_rotation 0.75s linear infinite;}

/*--- 方法 ---*/
.f-of_h{ overflow:hidden;}
.f-txtof{white-space:nowrap;text-overflow:ellipsis; overflow:hidden;word-break:keep-all;}
.f-txtof_2{overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;}
.f-txtof_3{overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:3;-webkit-box-orient:vertical;}
.f-txt_c{ text-align:center;}
.f-txt_r{ text-align:right;}
.f-fl{ float:left; *display:inline;}
.f-fr{ float:right; *display:inline;}
.f-select{ -webkit-user-select:auto;}
.f-clear:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.f-clear{ *zoom:1;}
.f-clear_l{ clear:left;}
.f-hide{ display:none !important;}
.f-show{ display:block !important;}

  /*--- 谷歌浏览器滚动条大小调整---*/
::-webkit-scrollbar-track-piece{background-color:transparent;-webkit-border-radius:0;}
::-webkit-scrollbar{width:8px;height:8px;}
::-webkit-scrollbar-thumb{background-color:#999;-webkit-border-radius:6px;}
::-webkit-scrollbar-thumb:hover{background-color:#9f9f9f;-webkit-border-radius:6px;}
::-webkit-scrollbar{width:6px;}

/*图标*/
 @font-face {
    font-family: "iconfont";
    src: url('font/iconfont.eot?v=2.0'); /* IE9*/
    src: url('font/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('font/iconfont.woff') format('woff'), /* chrome、firefox */
    url('font/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('font/iconfont.svg#iconfont') format('svg');
    /* iOS 4.1- */
}
i{
    font-family: "iconfont" !important;
    font-size: 1em;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    /*-webkit-text-stroke-width:0.1px;*/
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
}

.g-layout{max-width: 640px; margin: 0 auto;}


/*菜单栏*/
.m-menu{position: fixed;top:0;bottom: 0;right: 0; -webkit-transform:translateX(100%); transform:translateX(100%); width: 80%;height: 100%;z-index: 200;/*background-color: #264464;*/ transition: all 0.4s ease;}
.m-menu.z-open{-webkit-transform:translateX(0%);transform:translateX(0%);}
.m-menu .m-status.s-true  .p-child.s-false{display: none;}
.m-menu .m-status.s-false .p-child.s-true{display: none;}
.m-menu .m-status .p-left{float: left;width: 1.5rem;margin-left: 0.3rem;}
.m-menu .m-status .p-right{margin-left: 1.8rem;}
.m-menu .m-status .p-head{width: 1.16rem;height: 1.16rem;border:0.06rem solid #e6ebed;border-radius: 1.22rem;background-color: #ffffff;line-height: 1.16rem;text-align: center;color: #7095fb;font-size: 0.85rem;overflow: hidden;}
.m-menu .m-status .p-head img {height: 1.16rem;width: 1.16rem;}
.m-menu .m-status .p-nick{font-size: 0.38rem;color: #fff;margin-top: 0.06rem;margin-bottom: 0.1rem;}
.m-menu .m-status .font{font-size: 0.2rem; color: #fff; margin-bottom: 0.1rem;}
.m-menu .m-bar {height: 68%;overflow-y: auto;-webkit-overflow-scrolling: touch;}
.m-menu .m-bar .p-item {border-bottom: 1px solid #fff;margin-left: 0.4rem;padding-top: 0.3rem;padding-bottom: 0.3rem;color: #fff;padding-right: 0.2rem;overflow: hidden;}
.m-menu .m-bar .p-link {color: #fff;font-size: 0.28rem;display: block;transition: all 0.4s ease;}
.m-menu .m-bar .p-link:active {color: #ece567}
.m-menu .m-bar .p-item.z-active .p-link{color: #ece567;}
.m-menu .m-bar .p-item .i-ico {width: 0.6rem;}
.m-menu .m-bar .i-right{float: right;transition: all 0.4s ease;color: #fff;}
.m-menu .m-bar .p-item.z-active .i-right{-weikt-transform:rotate(90deg); transform:rotate(90deg); -moz-transform:rotate(90deg); -o-transform:rotate(90deg); -ms-transform:rotate(90deg);}
.m-menu .m-barlist{/*display: none;*/ transition: all 0.4s ease; -webkit-transition: all 0.4s ease; height: inherit; max-height: 0;}
.m-menu .m-bar .p-item.z-active .m-barlist{max-height: 200px;}
.m-menu .m-barlist .p-list_item {padding-top: 0.3rem;font-size: 0.24rem;padding-left: 0.6rem;}
.m-menu .m-barlist .p-list_item:active {color: #ece567;}
.m-menu .m-barlist .p-list_item a{color: #fff;}
.m-menu .m-footLink {position: fixed;left: 0.4rem;bottom: 0.3rem;}
.m-menu .u-link{display: inline-block;color: #fff;font-size: 0.24rem;margin-right: 0.18rem;}
.m-menu .u-btn {background-color: #7095fb;border-color: #7095fb; height: 0.6rem;line-height: 0.6rem;}
.m-menu .u-btn:active{background-color: #91adff;border-color: #91adff;}
/*/菜单栏*/

/*阴影*/
#m-shade{background-color:#000;opacity:0.6;filter:alpha(opacity=60);position:fixed;left:0;top:0;width:100%;height:100%;z-index:6;display:none;-webkit-transform:translateZ(0);transform:translateZ(0);-webkit-will-change:transform,opacity;will-change:transform,opacity}
#m-shade.z-show{display: block;}

.fade-enter-active,.fade-leave-active{
  transition: all 0.1s ease;
}
.fade-enter,.fade-leave-active{
  opacity: 0
}
